# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environment
.env
venv/
env/

# IDE
.idea/
.vscode/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Static and compiled files
staticfiles/